__pycache__
.DS_Store
/mydata.csv
/mygraph.csv
/mygraph.txt
.Rproj.user


# Causal analysis result folders
vignettes/boss_domain_results/
vignettes/fges_domain_results/


# Generated pre-processed data folder
vignettes/processed_data/


# Python cache
vignettes/__pycache__/
